<<<<<<< HEAD
* {
    Margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    height: auto;
        width: inherit;
        
}


.home-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2.55fr 2fr 0.5fr;
    grid-template-areas: 
                 "h1 h1 h1"
                "h2 h2 h3"
                "h4 h4 h4";
}
.home-container-h1 {
    grid-area: h1;
    padding-left: 5em;
    background: linear-gradient(to right, #E5E5BE, #003973);
    color: white;


}
.home-navBar{
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.home-navBar-item{
    display: flex;
    flex-direction: row;
    justify-content: end;
    list-style: none;
    padding: 1em 5em 1em 1em;

}
.home-navBar-item a{
    color: white;
    text-decoration: none;
}

.home-navBar-item a:hover{
    color: rgba(255, 255, 255, 0.678);
}
.home-navBar-item li{
    margin: 1em;

}

.home-container-h1 h1{
    padding-top: 1em;
    font-size: 8em;
    font-weight: bold;
}

.home-container-h1 p{
    padding-bottom: 3em;
}
.home-button-getStarted {
    all: unset;
    width: 5em;
    height: 2em;
    font-size: 1em;
    background: transparent;
    border: none;
    position: relative;
    color: #f0f0f0;
    cursor: pointer;
    z-index: 1;
    padding: 0.8em 1.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.home-button-getStarted::after,
.home-button-getStarted::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -99999;
    transition: all .4s;
}

.home-button-getStarted::before {
    transform: translate(0%, 0%);
    width: 100%;
    height: 100%;
    background: #074481;
    opacity: 30%;
    border-radius: 10px;
}

.home-button-getStarted::after {
    transform: translate(0.5em, 0.5em);
    width: 2.5em;
    height: 2.5em;
    background: #ffffff15;
    backdrop-filter: blur(0.4em);
    -webkit-backdrop-filter: blur(0.4em);
    border-radius: 3em;
}

.home-button-getStarted:hover::before {
    transform: translate(5%, 20%);
    width: 110%;
    height: 110%;
}

.home-button-getStarted:hover::after {
    border-radius: 1em;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
}

.home-button-getStarted:active::after {
    transition: 0s;
    transform: translate(0, 5%);
}

/*H2*/
.home-container-h2 {
    grid-area: h2;
    display: flex;
    flex-direction: column;
    padding: 5em;
    background-color: white;
    color: #003973;
    margin-top: 1em;
}
.home-container-h2 h2 {
    font-size: 4em;
    margin: 0em 0em 0.2em 0em;
}

.home-container-h2 li{
        list-style: none;
        padding-top: 1%;
        padding-bottom: 1%;
}


.home-container-h3 {
    grid-area: h3 ;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: white;
    opacity: 40%;
    color: white;

}

.home-container-h3 :is(h3,p){
    background-color: #003973;
    padding-right: 3em;

}
.home-container-h3 h3{
    margin-top: 1em;
    padding-left: 1.7em;
    padding-top: 2em;
    padding-bottom: 1em;
    border-radius: 1.5em 0em 0em;
    font-size: 1.8em;
    justify-content: flex-start ;
}
.home-container-h3 p {
    margin-bottom: 1em;
    padding-bottom: 3em;
    border-radius: 0em 0em 2em 2em;
    padding-left: 3em;
    word-spacing: 0em;
    font-weight: 300;
}

.home-container-h3 a:hover{
    color: rgba(255, 255, 255, 0.678)
}
.home-container-h3 a{
text-decoration: none;
color: white;
}  
.home-container-h4 {
    grid-area: h4;
    display: flex;
    background: linear-gradient(to right, #E5E5BE, #003973);
    color:white;
    align-items: flex-start;
}

.about{
 display: flex;
 justify-content: center;
 align-items: flex-start;
 flex-direction: column;
 margin:  3em 2em 2em 2em;
}

.social{
    display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin: 3em 2em 2em 2em;
}
.social :is(svg){
  fill: white;
  width: 13%;
  margin: 0.5em;


}


/*Calculator*/
.calculator-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.6fr 2fr 0.5fr;
    grid-template-areas:
        "nav-bar nav-bar nav-bar"
        "form form form"
        "h4 h4 h4";
}

.calculator-container-h1 {
    grid-area: nav-bar;
    padding-left: 5em;
    background: linear-gradient(to right, #E5E5BE, #003973);
    color: white;
    

}
.calculator-container-h1 h1 {
    padding-bottom: 1em;
    font-size: 5em;
    font-weight: bold;
}


.calculator-navBar {
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.calculator-navBar-item {
    display: flex;
    flex-direction: row;
    justify-content: end;
    list-style: none;
    padding: 1em 5em 1em 1em;

}
.calculator-navBar-item a {
    color: white;
    text-decoration: none;
}

.calculator-navBar-item a:hover {
    color: rgba(255, 255, 255, 0.678);
}

.calculator-navBar-item li {
    margin: 1em;

}

.calculator-container-form{
    grid-area: form;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator-form-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calculator-form-item :is(input, button){
    margin: 0.5em;

}

.buttonNumPersons{
    font-size: 1em;
    background: transparent;
    border: none;
    background: #074481;
    opacity: 30%;
    color: white;
    cursor: pointer;
    padding: 0.8em 1.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
font-weight: 400;
}



.buttonNumPersons:hover {
    opacity: 20%;
}


.calculator-container-h4 {
    grid-area: h4;
    display: flex;
    background: linear-gradient(to right, #E5E5BE, #003973);
    color: white;
    align-items: flex-start;
}

=======
* {
    Margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    height: auto;
        width: inherit;
        
}


.home-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2.5fr 2fr 1fr;
    grid-template-areas: 
                 "h1 h1"
                "h2 h3"
                "h4 about";
}
.home-container-h1 {
    grid-area: h1;
    padding-left: 5em;
    background: linear-gradient(to right, #E5E5BE, #003973);
    color: white;


}
.home-navBar{
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.home-navBar-item{
    display: flex;
    flex-direction: row;
    justify-content: end;
    list-style: none;
    padding: 1em 5em 1em 1em;

}
.home-navBar-item li{
    margin: 1em;

}

.home-container-h1 h1{
    padding-top: 1em;
    font-size: 5em;
    font-weight: bold;
}

/*H2*/
.home-container-h2 {
    grid-area: h2;
    display: flex;
    flex-direction: column;
    padding: 2em;
    
    background-color: white;

}
.home-container-h2 li{
        list-style: none;
}
.home-container-h3 {
    grid-area: h3 ;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: white;
}
.home-container-h4 {
    grid-area: h4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
}
>>>>>>> f424fda6a1c000e76ffbb7c48591b1ee82ec0294
